<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>OWP MILLIONERE</h1>
  <h2>GREEN CERTIFICATE</h2>
  <h3>Date : {{date}}</h3>
  <p>RAFFLE ID {{raffle_id}}, Number {{number}}</p>
</body>
</html>